<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Cognitive services testing</title>
    <link href="~/Styles/styles.css" rel="stylesheet" />
</head>
<body>
    <main>
        @RenderBody()
    </main>
<script src="~/Scripts/uploadFile.js"></script>
</body>
</html>