<h1>Yay</h1>

<h1>Computer vision API</h1>
<ul>
    <li>@Html.ActionLink("Create smart thumbnail", "CreateThumbnail")</li>
    <li>@Html.ActionLink("Describe image", "DescribeImage")</li>
    <li>@Html.ActionLink("Analyze image", "AnalyzeImage")</li>
</ul>

<a href="https://dev.projectoxford.ai/docs/services/56f91f2d778daf23d8ec6739/operations/56f91f2e778daf14a499e1fa">
    API reference
</a> for Computer Vision API.